@import "tailwindcss";
@plugin "daisyui";

/* customize tailwindcss */
@utility container {
    padding-inline: 1rem;
    margin-inline: auto;

    @variant md {
        padding-inline: 0;
    }
}
/* **** */
