---
import { getEntries } from "astro:content";
import { Picture } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import * as homeContent from "./home.md";

const bandSlugs = homeContent.frontmatter.bands;

const bands = await getEntries(
  bandSlugs.map((slug: string) => ({ collection: "bands", slug }))
);

const bandsWithContent = await Promise.all(
  bands.map(async band => {
    const { Content } = await band.render();
    return { ...band, Content };
  })
);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>{homeContent.frontmatter.title}</h1>
    </section>

    <section id="bands">
      <h2>Bands</h2>
      <ul>
        {
          bandsWithContent.map(band => (
            <li>
              <Picture
                src={band.data.logo}
                formats={["avif", "webp"]}
                alt={band.data.bandname}
                width={200}
                height={200}
              />
              <h3>{band.data.bandname}</h3>

              <band.Content />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
