---
import { getEntries } from "astro:content";
import { Picture } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import * as homeContent from "./home.md";

const bandSlugs = homeContent.frontmatter.bands;
const bands = await getEntries(
  bandSlugs.map((slug: string) => ({ collection: "bands", slug }))
);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>{homeContent.frontmatter.title}</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>
    </section>
    <section id="bands">
      <h2>Bands</h2>
      <ul>
        {
          bands.map(band => (
            <li>
              <Picture
                src={band.data.logo}
                formats={["avif", "webp"]}
                alt={band.data.bandname}
                width={200}
                height={200}
              />
              {band.data.bandname}
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
